.card {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 295px;
    height: 170px;
    border-radius: 8px;
    background: linear-gradient(to bottom, black, #333333);
    cursor: pointer;
}
